.checkProgress-container{
    height: 100vh;
    width: 100vw;
    background: url('../../assets/jpg/space.jpg') center/ cover no-repeat;
    background-color: rgba(15, 15, 16, 1);
    overflow: hidden;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.progressBar-container{
    width: 60vw;
    height: 4vw;
    position: absolute;
    left: 20vw;
    top: 20vw;
    display: flex;
    justify-content: space-between;
}
.progressBar-container span{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    z-index: 1;
    background: rgb(54, 54, 54);
}
#progressDot1::after{
    content: '';
    width: 55vw;
    height: 5px;
    background-color: rgb(49, 49, 49);
    position: absolute;
    left: 5vw;
    top: 2vw;
}

.groupPic-container{
    /* background: #000; */
    /* position: absolute;
    top: 46vw;
    left: 20vw; */
    margin-left: 14vw;
    margin-top: 45vw;
    width: 62vw;
    height: 62vw;
    /* overflow: hidden; */
}
.groupPic-container img{
    border-radius: 6vw;
    width: 100%;
    
}

.progressText-container{
    width: 90vw;
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
	font-size: 5vw;
	font-weight: normal;
	font-stretch: normal;
	line-height: 6vw;
	letter-spacing: 0vw;
	color: #f5f5f5;
}

.progressToJoinus{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 5vh;
    background: rgba(42, 42, 42, 1);
    border: 1px solid rgba(35, 35, 35, 1);
    border-radius: 22px;
    color: rgba(191, 191, 191, 1);
    font-size: 15px;
    /* box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 26); */
}
.progressToJoinus a{
    color: rgba(191, 191, 191, 1);
    font-size: 15px;
}

.progressToComments{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(221, 221, 221, 1);
    font-size: 3.733vw;
    width: 30vw;
    height: 9.0667vw;
    border: 1px solid #d1d1d1;
    border-radius: 5.0667vw;
    z-index: 99;
    background: rgba(29, 29, 29, 0.78);
}
.progressToComments a{
    color: rgba(191, 191, 191, 1);
    font-size: 15px;
    line-height: 34px;
}

.confirmBtn-container{
    width: 26.6667vw;
    height: 9vw;
    line-height: 9vw;
    border: 1px solid #c9780c;
    border-radius: 4vw;
    color: #c9780c;
    text-align: center;
    background: rgba(29, 29, 29, 0.78);
}
.checktrue{
    border: 1px solid #2ed573;
    color: #2ed573;
    transition: all .5s;
}
