.productintro-container {
  height: 100vh;
  background: url('../../assets/png/product_background.png') center/100% no-repeat;
  background-color: rgba(15, 15, 16, 1);
  overflow: hidden;
}

.productintro-container .joinlink-container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.productintro-container .joinlink-container .joinlink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 4vw;
  width: 25vw;
  height: 5vh;
  background: rgba(42, 42, 42, 1);
  border: 1px solid rgba(35, 35, 35, 1);
  border-radius: 22px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 26);
}

.productintro-container .joinlink-container .joinlink a {
  color: rgba(191, 191, 191, 1);
  font-size: 15px;
}

.productintro-container .product-introduce-container {
  margin: 0 6.4vw;
  padding: 2.2vh 9vw;
  height: 28vh;
  border-radius: 16px;
  width: 86vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.productintro-container .product-introduce-container:before{
  content: ' ';
  margin: 9vh 6.4vw;
  padding: 2.2vh 9vw;
  height: 28vh;
  border-radius: 16px;
  width: 86vw;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  z-index: 0;
  background-color: rgba(20, 20, 20, .85);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
}

.productintro-container .product-introduce-container .product-name {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 2vh;
  transform: translateZ(0);
}

.productintro-container .product-introduce-container .product-description-container {
  color: #BCBCBC;
  font-size: 14px;
}

@media(max-width:360px) {
  .productintro-container .product-introduce-container .product-description-container {
    font-size: 12px;
  }
}

.productintro-container .product-introduce-container .product-description-container p {
  margin-bottom: 1vh;
  letter-spacing: 1px;
  transform: translateZ(0);
  white-space: nowrap;
}

.productintro-container .product-planet-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 8vh 0 8vh;
}

.productintro-container .product-planet-container .product-planet {
  width: 75vw;
  height: 75vw;
}

.productintro-container .product-planet-container .product-item-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 35vw;
}

.introduce-to-group-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  bottom: 5vh;
  color: rgba(206, 206, 206, 1);
  font-size: 13px;
  letter-spacing: 1px;
}

.product-pointer-container {
  position: absolute;
  right: 12%;
  top: 12%;
  transform: rotate(140deg);
  opacity: 0;
  z-index: 1;
}

.product-pointer-container img {
  width: 10vw;
}

.introduce-to-group-container img {
  position: fixed;
  bottom: 0.5vh;
}
