.productintro-container {
  height: 100vh;
  background: url('../../assets/webp/product_background.webp') center/100% no-repeat;
  background-color: rgba(15, 15, 16, 1);
}

.productintro-container .joinlink-container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.productintro-container .joinlink-container .joinlink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 4vw;
  width: 25vw;
  height: 5vh;
  background: rgba(42, 42, 42, 1);
  border: 1px solid rgba(35, 35, 35, 1);
  border-radius: 22px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 26);
}

.productintro-container .joinlink-container .joinlink a {
  color: rgba(191, 191, 191, 1);
  font-size: 15px;
}

.productintro-container .product-introduce-container {
  margin: auto 6.4vw;
  padding: 2.7vh 9vw;
  background: rgba(20, 20, 20, 1);
  height: 28vh;
  opacity: 0.85;
  border-radius: 16px;
}

.productintro-container .product-introduce-container .product-name {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 2vh;
}

.productintro-container .product-introduce-container .product-description-container {
  color: rgba(146, 146, 146, 1);
  font-size: 14px;
}

.productintro-container .product-introduce-container .product-description-container p {
  margin-bottom: 1vh;
  letter-spacing: 1px;
}

.productintro-container .product-planet-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 8vh 0 8vh;
}

.productintro-container .product-planet-container .product-planet {
  width: 75vw;
  height: 75vw;
}

.productintro-container .product-planet-container .product-item-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 35vw;
}

.introduce-to-group-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  bottom: 5vh;
  color: rgba(206, 206, 206, 1);
  font-size: 13px;
  letter-spacing: 1px;
}

.introduce-to-group-container img {
  position: fixed;
  bottom: 1vh;
}
