.loading-container {
  position: relative;
  top: 12vh;
  color: white;
}

.loading-container .lottie-contianer {
  position: relative;
  margin: 0 15vw;
  width: 70vw;
}

.loading-container .lottie-contianer svg {
  text-align: center;
}

.loading-container .process-container {
  display: inline-block;
  position: absolute;
  left: 53%;
  top: 62%;
  width: 40px;
  transform: rotate(-50deg);
}

.loading-container .process-container #loadingProcess {
  width: 30px;
  display: flex;
  justify-content: center;
}

.loading-container .process-container #loadingProcess::after {
  content: "%";
}
