label {
  color: rgba(206, 206, 206, 1);
  font-size: 14px;
  text-align: left;
  font-family: PingFangSC-Medium;
}

.container {
  background: 
    center bottom/100% no-repeat url('../../assets/png/xiaojiayuan.png'),
    center bottom/100% no-repeat url('../../assets/png/planet.png'),
    center bottom/100% no-repeat url('../../assets/png/cloud.png'),
    center bottom/100% space url('../../assets/png/space.png'),
    rgb(14, 15, 16);
  padding-bottom: 220px;
}

.container .circle-container {
  display: flex;
  justify-content: center;
}

.container .circle-container .circle {
  width: 297px;
  height: 297px;
  min-width: 297px;
  min-height: 297px;
  background-color: rgba(50, 50, 50, 1);
  margin: 5vh auto 5vh;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.23);
  border: 6px solid rgba(31, 31, 31, 1);
  border-radius: 100%;
}

.container .ncuhome-container {
  display: flex;
  justify-content: center;
}

.container .ncuhome-container p {
  color: rgba(223, 223, 223, 1);
  font-size: 24px;
  text-align: left;
  font-family: PingFangSC-Semibold;
  margin-bottom: 500px;
}

.container .form-container .icon-container {
  display: flex;
  justify-content: center;
  color: rgb(56, 56, 56);
  font-size: 28px;
}

.container .form-container {
  position: relative;
  top: 3.1vh;
  margin: auto 21px;
  margin-bottom: 10vh;
  padding-top: 1px;
  border-radius: 18px;
  background-color: rgba(41, 41, 41, 1);
  /* visibility: hidden; */
}

.container .form-container .divide-line {
  display: block;
  width: 22.4vw;
  height: 8px;
  margin: 17px auto 16px;
  border-radius: 19px;
  background-color: rgba(25, 25, 25, 1);
}

.container .form-container .headline-container {
  color: #DADADA;
}

.container .form-container .headline-container .english-headline {
  color: rgba(123, 123, 123, 1);
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
}

.container .form-container .headline-container .headline {
  font-size: 25px;
  text-align: center;
}
