.application-container {
  position: relative;
  background: 
    center bottom/100% no-repeat url('../../assets/png/planet.png'),
    center bottom/100% no-repeat url('../../assets/png/cloud.png'),
    center top/100% space url('../../assets/jpg/space.jpg') fixed,
    rgb(14, 15, 16);
  padding-bottom: 220px;
  overflow: hidden; 
}

.application-container .ncuhome-planet-container {
  display: flex;
  justify-content: center;
}

.application-container .ncuhome-planet-container img {
  width: 75vw;
  max-width: 400px;
  margin: 5vh auto 5vh;
}

.application-container .ncuhome-container {
  display: flex;
  justify-content: center;
}

.application-container .ncuhome-container p {
  position: relative;
  color: rgba(223, 223, 223, 1);
  font-size: 24px;
  text-align: left;
  margin-bottom: 500px;
}

.application-container .form-container .icon-container {
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.application-container .form-container {
  position: relative;
  margin: auto 21px;
  margin-bottom: 10vh;
  padding-top: 1px;
  border-radius: 18px;
  background-color: rgba(41, 41, 41, 1);
  /* visibility: hidden; */
  z-index: 1;
  border: 1px solid #333333;
}

.application-container .form-container .divide-line {
  display: block;
  width: 22.4vw;
  height: 9px;
  margin: 17px auto 16px;
  border-radius: 19px;
  border: 1px solid #333333;
  background: center top/100% space url('../../assets/jpg/space.jpg') fixed;
}

.application-container .form-container .headline-container {
  color: #DADADA;
}

.application-container .form-container .headline-container .english-headline {
  color: rgba(123, 123, 123, 1);
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
}

.application-container .form-container .headline-container .headline {
  font-size: 25px;
  text-align: center;
}

.application-container #QRcode {
  position: absolute;
  bottom: 2.5%;
  left: 16%;
  width: 30%;
  z-index: 0;
}

/* .application-container #xiaojiayuan {
  position: absolute;
  bottom: 3.5%;
  right: 18%;
  width: 30%;
  z-index: 0;
} */
.xjyContainer {
  position: absolute;
  right: 13.3333vw;
  bottom: -8vw;
  width: 30vw;
  height: 74.6667vw;
  z-index: 3;
  transition: all .5s linear;
  /* transform: translatey(-100px); */
}

#xiaojiayuan {
  position: relative;
  width: 100%;
  z-index: 2;
}