.home-container {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  background: center top/cover url("../../assets/jpg/index.jpg") fixed;
}

.home-container .home-guide-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25vh;
  color: rgba(221, 221, 221, 1);
  opacity: 0;
  font-size: 16px;
  width: 50vw;
  margin: auto 25vw;
  height: 29px;
  border-radius: 14px;
  background:rgba(51, 51, 51,.5) border-box;
  border: 1px solid rgba(56, 56, 56, 0.8);
}

.home-introduction-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(216, 216, 216, 1);
  font-size: 9px;
  margin-bottom: 4.3vh;
}

.home-introduction-container p {
  text-align: center;
  line-height: 15px;
  margin-bottom: 1px;
}

.home-introduction-container .home-introduction-headline {
  color: rgba(240, 240, 240, 1);
  font-size: 16px;
  margin-bottom: 12px;
}

.home-hidden-container {
  position: relative;
  top: -8vh;
  opacity: 0;
  color: rgba(221, 221, 221, 1);
  font-size: 20px;
  text-align: center;
}

.home-hidden-container p {
  margin-bottom: 0;
}

@media(min-width:400px) {
  .home-introduction-container {
    font-size: 10px;
  }
}
