.optional-container{
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;
    background: center top/cover no-repeat url('../../assets/png/success-bg.png') fixed;
    display: flex;
    flex-direction: column;
}
.comments-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-container{
    opacity: .9;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(21, 21, 21, .85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-top: 30px;
}