@import '~antd/dist/antd.css';

html {
  font-size: 16px;
}

body {
  background-color: rgba(25, 25, 25, 1);
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

label {
  color: rgba(206, 206, 206, 1);
  font-size: 14px;
  text-align: left;
  font-family: PingFangSC-Medium;
}
