.groupintro-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: top / 100% no-repeat url('../../assets/png/introduce_space.png') rgb(15, 15, 16);
}

.groupintro-container .next-planet-container {
  position: absolute;
  left: 12vw;
  top: 6vh;
}

.groupintro-container .next-planet-container img {
  width: 60vw;
}

.groupintro-container .ncuhome-planet-container {
  position: absolute;
  right: 0;
  top: 40vh;
}

.groupintro-container .ncuhome-planet-container img {
  width: 40vw;
}

.groupintro-container .now-planet-container {
  position: absolute;
  top: 55vh;
  left: 15vw;
}

.groupintro-container .now-planet-container img {
  width: 80vw;
}

.groupintro-container .modal-container {
  position: relative;
  top: 20vh;
  color: rgba(255, 255, 255, 0.85);
  opacity: 0.85;
  font-size: 14px;
  filter:url(#blur_j0dp3cg7a);
}

.groupintro-container .modal-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.groupintro-container .modal-container .modal-container-background {
  margin: 0 8vw;
  border-radius: 16px;
  background-color: rgba(21, 21, 21, 1);
  z-index: 1;
  overflow: auto;
}

.groupintro-container .modal-container .introduction-text-container {
  padding: 42px 30px 0;
  height: 45vh;
}

.groupintro-container .modal-container .introduction-text-container .headline-container p {
  font-size: 31px;
  color: #FFFFFF 85%;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.groupintro-container .modal-container .introduction-text-container .subheading-container p {
  color: rgba(219, 219, 219, 1);
  font-weight: 700;
  letter-spacing: 2px;
}

.groupintro-container .modal-container .introduction-text-container .introdution-container p {
  color: rgba(166, 166, 166, 1);
  margin-bottom: 6px;
  letter-spacing: 2px;
}

.groupintro-container .modal-container .joinus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(209, 209, 209, 1);
  margin: 5.2vh auto;
  font-size: 18px;
}

.groupintro-container .modal-container .joinus-container span {
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 34vw;
  background: url('../../assets/svg/introduce_joinus.svg') no-repeat center/16px 15px;
}

.groupintro-container .modal-container .joinus-container a {
  color: rgba(209, 209, 209, 1);
  font-size: 18px;
}

.groupintro-container .modal-container .arrow-next {
  position: absolute;
  right: 1vw;
  top: 50%;
  width: 20px;
  height: 40px;
  background: url('../../assets/svg/introduce_arrow.svg') no-repeat center/12px 29px;
}

.groupintro-container .modal-container .arrow-pre {
  position: absolute;
  left: 1vw;
  top: 50%;
  width: 20px;
  height: 40px;
  background: url('../../assets/svg/introduce_arrow.svg') no-repeat center/12px 29px;
  transform: rotate(180deg);
}
