.commentsPage-container{
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;
    background: center top/cover no-repeat url('../../assets/png/success-bg.png') fixed;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.comments-container{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    width: 90%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.comment-container{
    opacity: .9;
    font-size: 16px;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    background-color: rgba(21, 21, 21, .85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-top: 30px;
    
}

.likes-container{
    position: absolute;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    right: 25px;
    top: 15px;
    border: 1px #646E97 solid;
    background-color: rgba(21, 21, 21, .85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: .9;
}